body, .fbNubFlyoutFooter, div#globalContainer, #mainContainer, #leftCol, #facebook, #contentCol, #pageFooter, .fbChatSidebar, ._juy, div._4-i2, ._4-i0, ._iw3, ._cue, .fbNubFlyoutTitlebar, .pagesTimelineLayout #globalContainer, ._1nc7 ._5w1r {
    background: #212121!important;}._2t-a, ._26aw, ._5rmj, ._50ti, ._2s1y{background: red;}
*:not(a):not(button), #mainContainer *:not(a):not(button)::before {border-color: #105427 !important;}
.tooltipContent, ._4arz span, ._t, .fbFeedTicker .fbFeedTickerStory, ._3soe, ._4-u8, .commentable_item, #globalContainer, html ._262m ._698, ._5vsj._5vsj._5vsj, ._5vsj .UFIRow, ._6m2, ._30f, ._1lot, #fbContextualHelpContent div, .pbs, .uiBoxWhite, .uiBoxLightblue, .uiScrollableAreaBody, .uiToggleFlyout, ._30d, .escapeHatchMinimal, .fbNubButton, ._53ij, .conversationContainer, .fbChatTypeahead ._4p-s, ._7a5, #documentation_body_pagelet td, .uiMenu, ._4t2a, ._3t09 {
    background: #121212!important;
}._4f7n, ._2s1x ._2s1y, ._53jh, #fbTimelineHeadline, ._83k {
     background: #105427!important;
     border-color: #0d431f!important;
 }._4f7n, ._2s1x ._2s1y, ._53jh, #fbTimelineHeadline, ._83k {
      background: #105427!important;
      border-color: #0d431f!important;
  }._42fu, ._xag, ._3z5 ._3zr a, .uiButtonConfirm, ._xah, ._4jy1, ._517h, ._59pe, ._4jy2, ._3g_v, .uiButton, .uiButtonSuppressed {
       background: #083318!important;
       border-color: #062913 !important;
   }#globalContainer, .fbIndex .gradient, ._4lh .fbTimelineTimePeriod, .loadingIndicator {
        /* background: #212121 !important; */
    }.uiTypeahead, ._585-, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryClickable:hover, ._1lor, ._kj3, .fbTimelineStickyHeader *, ._54ng, ._5i-7, ._3ubp, ._1cx1 ._ei_, ._3cz, ._g3h, ._1a8t, ._1xy2, ._5wcf, ._1nc6 ._d97, ._hh7, .uiBoxGray, ._344_, ._3iue, #documentation_body_pagelet th, ._25_a:hover, ._25_c, html ._55r1, ._6-7:hover, ._6-6:hover, ._9rx.openToggler, ._9ry:hover, ._33e, ._54ne, ._54ne a, ._55ln:hover {
         background: #0e0e0e!important;
         background-color: #0e0e0e!important;
     }._3ubp{background: unset}._4-h8{border-bottom: 8px solid #212121; border-left: unset; border-right: unset;}
._4-h8::after{border-bottom: 8px solid #105427}._m_1{background: #A4A4A4;}
.__tw div.jewelHeader, ._fyy, ._fmi, ._1g5v+._4arz, ._ipo, ._sg1, ._1y2l li.jewelItemNew a.messagesContent, ._1sdi, ._4-u5{background: unset!important;}
._3-a6 .UFICommentActorAndBody{background: #64FE2E!important;}body{color: #105427!important;}
*, ._1nd3 a, .snippet span, li._kv ._l3, ._1n-e, ._c24, .fcg, .sideNavItem a {color: #8f8c8c !important;}
.__tw li.jewelItemNew {
    background: #585858;
}._558b ._54nc{border: unset!important;}